
<% @console_selection = @consoles.sample(12)  %>
<div class="cards">
  <% @console_selection.each do |console| %>
    <%# <% url = console.photo.attached? ? cl_image_path(console.photo.key)  : "https://media.istockphoto.com/vectors/movie-time-vector-illustration-cinema-poster-concept-on-red-round-vector-id911590226?k=6&m=911590226&s=612x612&w=0&h=u6vP2FnJG8Ib3O1xofOUeJ5NtHWrWdRnV-OSL8arBnk=" %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://res.cloudinary.com/xanldn89/image/upload/v1629884209/stock_console_lktnhq.jpg')">
      <%= link_to console.name, console_path(console) %>

  </div>
  <% end %>
</div>
