<h1 class="text-center">Consoles for rent</h1>

<%# <div class="container">
  <%= form_tag consoles_path, method: :get, class:'d-flex' do %>
    <%# <%= text_field_tag :query,
      params[:query],
      class: "nes-textarea",
      style: "padding: 8px 0px;",
      placeholder: "Find a console"
    %>
    <%# <%= submit_tag "Search", class: "nes-btn is-primary"%>
  <%# <% end %>
<%# </div> %>

<%= render 'components/card_grid'%>
