<div class="container">
  <div class="cards">
    <% @consoles.each do |console| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
        <%= console.name %>
      </div>
    <% end %>
  </div>
</div>
