
<%= render'components/navbar' %>

<div class ="container text-center">
  <h1>Pages#home</h1>
  <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
</div>

<%= render'components/card_grid' %>
