.cards {
  display: inline-flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;

  a, a:hover {
    text-shadow: 4px 4px 0 rgba(0,0,0,0.3);
    color: white;
  }
}

.card-category {
  flex: 0 1 30%;
  margin: 16px 8px;
  max-width: 400px;
  min-width: 300px;
  text-align: center;
}
